@model CarBlog2.ModelView.SocailVM

@if(Model != null){
        <ul class="submenu">
        @if(!string.IsNullOrEmpty(Model.Facebook) )
        {
            <li class="list-inline-item"><a href="@Model.Facebook"><i class="fab fa-facebook"></i></li>
            <li class="list-inline-item"><a href="@Model.Instagram"><i class="fab fa-instagram"></i></li>
            <li class="list-inline-item"><a href="@Model.Twitter"><i class="fab fa-twitter"></i></li>
            <li class="list-inline-item"><a href="@Model.Youtube"><i class="fab fa-youtube"></i></li>



        }
       </ul>
    
}